<div class="divcontainer">
    <div class="bg-img">
    <div class="topnav "> 
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="/assets/photos/KT-logo.jpg" class="img-fluid" alt="The shop logo">
            </div>
        </a>
        <div class="container">
        <a class="active" href="#home">Home</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#catalog">Catalog</a>
        </div>
    </div>
</div>
        
</div>