
<div class="container">
    <div class="inner-container">
        <div class="center">Kitchen Template</div>
        <hr>
        <p>Let us design your dream kitchen</p>
    </div>
</div>

<div class="container2">
    <div class="inner-container2">
    <p>As a specialist in the design of kitchens and cupboards, we offer a 360° service for property developers and contractors. We also assist buyers and guide them in their choice to help them create the project that suits them.</p>
    </div>
</div>

<div class="container3">
    <img src="https://cdn.decorpad.com/photos/2016/10/28/white-kitchen-island-rejuvenation-butte-cone-pendants.jpg" alt="">
   
    <div class="inner-container3">
        <div class="center2">Our Services</div>
        <hr>
        <p>- Kitchen Backsplash Installation</p>
        <p>- Countertop Installation & Repair</p>
        <p>- Cabinet Installation & Repair</p>
        <p>- Custom Kitchen Islands</p>
       
        <button class="button-17" role="button">See All</button>
    </div>
</div>

<div class="gallery">Gallery</div>

<div class="row ">
    <div class="column gallerycontainer">
        <img class="image"  src="https://cdn.decorpad.com/photos/2016/10/28/white-kitchen-island-rejuvenation-butte-cone-pendants.jpg" alt="Mountains" style="width:100%">
        <div class="middle">
            <div class="text">  <button class="middle-button" role="button">Islands</button></div>
        </div>
    </div>
    <div class="column gallerycontainer" >
        <img class="image"  src='https://st.hzcdn.com/simgs/pictures/kitchens/neman-euroconcepts-img~9961844d0b15a991_8-3874-1-745977c.jpg' alt="Mountains" style="width:100%">
        <div class="middle">
            <div class="text">  <button class="middle-button" role="button">Black Kitchens</button></div>
        </div>
    </div>
    <div class="column gallerycontainer">
        <img class="image" src='https://st.hzcdn.com/simgs/pictures/kitchens/builder-model-copper-ridge-new-braunfels-texas-msa-architecture-interiors-img~90f15e760c36401e_8-1712-1-1a04904.jpg' >
        <div class="middle">
            <div class="text">  <button class="middle-button" role="button">White Kitchens</button></div>
        </div>
    </div>
</div>

 
<div id="contact-container">
    <h1>&bull; Keep in Touch &bull;</h1>
    <div class="underline">
    </div>
  
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="My name is" name="name" id="name_input" required>
      </div>
      <div class="email-input">
        <label for="email"></label>
        <input type="email" placeholder="My e-mail is" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="My number is" name="telephone" id="telephone_input" required>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Send Message" id="form_button" />
      </div>
    </form>
  </div>

  
<div id="contactDetails-container">
    <h1>Contact Us</h1>
    <div>
      <h3><i class="fa fa-map-marker" aria-hidden="true"></i> 
          <span class="address"> Address</span> 
      </h3>
        <p>198 West 21th Street, Suite 721 New York NY 10016</p>
    </div>


    <div>
      <h3><i class="fa fa-phone" aria-hidden="true"></i>  
        <span class="phone"> Phone</span>
      </h3>
      <p> + 1235 2355 98</p>
  </div>

  <div>
    <h3><i class="fa fa-envelope" aria-hidden="true"></i> 
      <span class="email"> Email</span>
    </h3>
    <p> info@yoursite.com</p>
  </div>

  <hr width="20%">

  <div text-align="center" class="socialbtns">
    <ul>
    <li><a href="#" class="fa  fa-facebook"></a></li>
    <li><a href="#" class="fa fa-twitter"></a></li>
    <li><a href="#" class="fa fa-instagram"></a></li>
    </ul>
    </div>
    
  
</div>



<div class="push"></div>
